
body{
  font-family: 'Nunito', sans-serif;
}
a {
  color: #00B7FF;
}
/*-----------------------BOTÃO----------------------*/

.tit3 > img{
  height: 80px;
  margin: 50px;
}

.t-center{
  text-align: center;
  background-color: #e2fdd7;
background-image: 
url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4'height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23faf8fd' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
/*-------------------SEARCH-MENU-------------------*/
  .searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }
  .Titulo-Search{
    margin-bottom: 25px;
    padding-left: 370px;
  }
  .Titulo-Search2{
    padding-left: 400px;
    }
  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:#026937;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #026937;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }
/*-----------------------MENU----------------------*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}

.menu-header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.barramenu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}
.menu {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  float: left;
  margin: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu > ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.menu > ul > li {
  float: left;
padding: 48px 33px;
}

.menu > ul > li a:hover {
  background-color: #111111;
}

.background-img{
  min-height: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}

footer {
  height: 100px;
  background-color: green;
}

* {box-sizing:border-box}

/*-----------------------LOGO----------------------*/

.logo {
  height: 50px;
  padding-left: 100px;
}

.logo > a{
  display: block;
  height: 100%;
}

.logo > a > img {
  width: 50px;
  max-height: 100%;
  vertical-align: middle;
}

/*-----------------------REGISTO----------------------*/

.Titulo-Registo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 200px;
}
.bg1-pattern {
    background-image: url(../images/icons/pattern1.png);
    background-repeat: repeat;
}
.Registo-Img {
  width: 100%;
  min-height: 545px;
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}
.section-registo {
  max-width: 1200px;
 }


/*-----------------------PROCURARPRODUTO----------------------*/

.bloc_left_price {
  font-family: 'Nunito', sans-serif;
  color: #ff0000;
  text-align: center;

}
.Procurar-Produto {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
.Procurar-Produto .container {
  max-width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-top: -80px;
  margin-bottom: 50px;
  padding: 50px 55px;
 
}
.Procurar-Produto .container form {
  width: 840px;
  margin: 0 auto;
}
.adviceType .analysisNews .productNews .row {
  margin-right: 0;
  margin-left: 0;
}
.analysisNews.productNews .row div a {
  padding-left: 200px;
  display: inline-block;
  max-width: 100%;
  margin: 10px 0 30px;

  color: #026937;
}
.adubo1{
  height: 80px;
  padding-left: 30px;

}
.fertilizante1{
  height: 80px;
  
}
.Titulo-Fertilizante{
  width: 50px; 
  margin:0 auto;
  margin-bottom: 16px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
