body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }

 header, main, footer, main > section{
     padding: 10px;
     margin: 10px;
     text-align: center;
     color: white;
 }

 header {
     background-color: green;
 }
  main {
      background-color: greenyellow;
      display: flex;
      flex-wrap: wrap;
  }
  footer {
      background-color: blue;
      width: 18%;
  }
